.socialmedia{
    align-items: center;
    display: flex;
    justify-content:center ; 
    flex-direction: column;
    margin-bottom: 30px;
}


.border {
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.45);
    max-width: 350px;
    padding: 10px;
    text-align: center;
    width: 100%;

}


.textname {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;
}

.textname {
    color: #FFF;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-align: center;
}

.social {
   text-decoration: none;
   width: 100%;

}


.image {
    align-items: center;
    display: flex;
    position: relative;
}

.text {
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-align: center;
}

