@import url('https://fonts.googleapis.com/css2?family= Open + Sans:wght@300 & display=swap');

.border {
    border-radius: 0.825rem;
    border: 2px solid rgba(242, 121, 165, 0.56);
    margin: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    position: relative;
    margin-top: 20px;

}

.border:hover {
    border: 2px solid rgba(216, 1, 80, 0.56);
    transform: scale(0.95);
    transition: 0.4s;
}

.social {
    display: flex;
    width: 23.3125rem;
    height: 3.0625rem;
    padding: 0rem 1.9375rem;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    text-decoration: none;
    margin-left: 0;
}


.image {
    display: flex;
    position: relative;
    align-items: center;
}

.text {
    color: #FA5D7C;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}