.portfolio {
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.portfolio img {
    display: flex;
    justify-content: center;
}